body {
    font-family: Arial, sans-serif;
}

#content {
    text-align: center;
    margin-top: 50px;
}

#actionButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#navbar{
    background: aqua;
    color:white;
    width: 100vw;
    height: 80px;;
}

.link:hover{
    background: white;
    color:coral;
}

.nonvisible{
    opacity: 0;
}